#App {
    margin: 1.5em auto;
    max-width: 1200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5 {
    margin: 0 0;
}