<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <div class="nav-link new-blog outer">
      <button type="button" onclick="location.href='https://www.zoomkoding.com'">
        <div class="button-text">
          <img class="thumbnail" src="https://github.com/zoomKoding/zoomKoding.github.io/blob/source/zoomkoding-small.png?raw=true" alt="개발 블로그 테마 개발">
          <div class="label">
            <div class="name">zoomkoding.com</div>
            <div class="description">이전한 블로그로 이동하기</div>     
          </div>    
        </div>
         
      </button>
    </div>
  
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

        <li class="nav-link new-blog inner">
          <button type="button" onclick="location.href='https://www.zoomkoding.com'">
            <div class="button-text">
              <img class="thumbnail" src="https://github.com/zoomKoding/zoomKoding.github.io/blob/source/zoomkoding-small.png?raw=true" alt="개발 블로그 테마 개발">
              <div class="label">
                <div class="name">zoomkoding.com</div>
                <div class="description">이전한 블로그로 이동하기</div>     
              </div>    
            </div>
             
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
